.header-wrapper {
  display: flex;
  flex-direction: column;
}

.header-top {
  display: flex;
  background-color: var(--accent-02);
  color: var(--foreground-inverted);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: medium;
  justify-content: right;
}

.header-contacts {
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.header-contact {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
}

.header-title {
  font-family: "Outfit", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}

.header-title img {
  width: 10rem;
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  overflow: visible;
}

.header-links a {
  transition: all 0.2s ease-in-out;
}

.header-links a:hover {
  color: var(--accent-01) !important;
  font-weight: 700;
}

.header-links button {
  border-radius: 2rem;
  font-weight: 700;
  color: var(--foreground-inverted);
  transition: all 0.2s ease-in-out;
}

.header-links button:hover {
  color: var(--accent-01);
  background-color: var(--background);
  transform: scale(1.02);
}
