.page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-title {
  width: 100%;
  font-family: "Outfit", sans-serif;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.page-title::before,
.page-title::after {
  content: "";
  flex: 1;
  border-bottom: 5px solid var(--dark);
  margin: 0 15px;
  opacity: 0.7;
}

.page-title::before {
  border-radius: 2rem 0rem 0rem 2rem;
}

.page-title::after {
  border-radius: 0rem 2rem 2rem 0rem;
}
.page-title span {
  font-size: 1.9rem;
  font-weight: 800;
  text-transform: capitalize;
  color: var(--foreground);
}
