.hero-section {
  background-image: url("src/assets/Hero/Hero background.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100vw auto;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 10vw;
  gap: 10rem;
  width: 80%;
  /* min-width: 1250px; */
}

.hero-typography {
  font-family: "Orelega One", cursive;
  font-size: clamp(1rem, 10vw, 5rem);
  max-width: 1000px;
  text-align: center;
  color: var(--foreground-inverted);
  -webkit-text-stroke: 2px #000000d0;
}

.hero-info-cards {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}
