.donation-container {
  padding: 1rem 0rem;
  box-shadow: none !important;
  width: 80%;
}

.fundraiser-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-block: 1rem;
}

.fundraiser-info-container {
  background-color: #2b3674ef;
  width: 80%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 25px;
  /* padding: 1rem; */
}

.fundraiser-info {
  padding-left: 1rem;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 2rem;
  /* justify-content: center; */
}

.fundraiser-name {
  font-size: 2.4rem;
  font-weight: 700;
  color: white;
  padding-bottom: 0.5rem;
}

.fundraiser-description,
.fundraiser-date,
.fundraiser-goal {
  max-width: 700px;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
}

.fundraiser-description span,
.fundraiser-date span {
  font-weight: 300;
  color: whitesmoke;
}

.fundraiser-goal {
  padding-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.fundraiser-goal span {
  font-size: 1.5rem;
  font-weight: 400;
  color: whitesmoke;
}

.fundraiser-image {
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fundraiser-image img {
  width: 100%;
  margin-right: 1.5rem;
  border-radius: 25px;
  border: 2px solid whitesmoke;
}

.donation-charts {
  width: 80%;
  height: 500px;
  /* min-height: 40vh; */
  flex-wrap: wrap;
  /* background-color: salmon; */
  display: flex;
  gap: 1rem;
  padding: 2rem;
  padding-inline: 0rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.charts-donation-timeline {
  position: relative;
  background-color: white;
  width: 50%;
  height: 100%;
  box-shadow: 2px 2px 4px var(--light-gray);
  /* padding: 2rem; */
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-color-light);
}

.charts-donation-progress {
  background-color: white;
  box-shadow: 2px 2px 4px var(--light-gray);
  /* padding: 2rem; */
  border-radius: 25px;
  width: 45% !important;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-color-light);
}

.chart-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.charts-donation-progress .chart-container {
  width: 80%;
  height: 80%;
}

.Mui-TableHeadCell-Content-Actions,
.MuiButtonBase-root {
  overflow: hidden;
}

.report-print {
  padding-bottom: 2rem;
  width: 80%;
  text-align: right;
  margin: auto;

  .report-print-button {
    background-color: #2b3674ef;
    color: white;
    font-family: "Outfit", sans-serif;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 25px;
    font-size: 1.15rem;
    transition: background-color 0.2s ease-in-out;
  }

  .report-print-button:hover {
    background-color: #212958;
  }
}

@media print {
  .fundraiser-info-container,
  .donation-charts,
  .donation-container {
    width: 95%;
  }

  .fundraiser-info {
    width: 50%;
    padding-top: 0rem;

    .fundraiser-name {
      font-size: 2rem;
    }
  }

  .fundraiser-image {
    width: 45%;
  }

  .donation-charts {
    flex-direction: column;
    flex-wrap: nowrap;
    height: fit-content;
    padding-inline: 0rem;

    .charts-donation-timeline {
      width: 100%;
      height: fit-content;
    }

    .charts-donation-progress {
      width: 100% !important;
      height: fit-content;
    }
  }

  .donation-container {
    break-before: page;

    .MuiBox-root.css-zrlv9q {
      display: none;
    }
  }
}
